.offer-box {
    background-color: #FFD700;
    color: #b30000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 20px auto;
    width: 60%;
    border: 3px dashed #b30000;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #ffffff;
    animation: glowingEffect 1.5s infinite alternate;
}

.offer-box-custom {
    animation: glowingEffect 1.5s infinite alternate;
    text-shadow: 1px 1px 2px #ffffff;
    border-style: dashed !important;
}

@keyframes glowingEffect {
    from {
        box-shadow: 0 0 5px #FFD700;
    }
    to {
        box-shadow: 0 0 25px #FF6600;
    }
}